[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
hackernews = "*"
pyphen = "*"
haxor = "*"
pytest = "*"
pylint = "*"
pymongo = "*"
flask-bootstrap = "*"

[dev-packages]

[requires]
python_version = "3.6"
