<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.css') }}">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='jumbotron.css') }}">

    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans" rel="stylesheet">

   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">



    <title>Your Next Startup</title>
</head>
<body>

<div class="container">
    <div class="jumbotron">
        <div class="container">
            <span class="glyphicon star" aria-hidden="true"></span>
            <i class="fas fa-bolt" style="font-size:72px;color:yellow"></i><div style="font-family: 'Merriweather Sans', sans-serif;">
                <h1>Change the World</h1>

                <h1>Name a Startup</h1>

                <hr class="my-4">
            </div>
                    <p><a href='/result' class="btn btn-primary btn-lg" role="button">Pivot Me Bro</a></p>
                </div>
            </div>
        </div>


</body>

<hr>
<!-- Footer -->
<footer class="page-footer font-small blue fixed-bottom">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="https://veekaybee.github.io"> Vicki Boykis</a>
      <i class="fab fa-twitter" style="font-size:12px"></i>
      <a href="https://twitter.com/vboykis"> @vboykis</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
</html>